In [23]:
#Import pandas as a dependency (make alias as pd too)
import pandas as pd

In [24]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [25]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [26]:
for schools in school_series:
    print(schools)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [27]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [28]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [29]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type": "District"},
                     {"High School": "Figueroa", "Type": "District"},
                     {"High School": "Wilson", "Type": "Charter"},
                     {"High School": "Wright", "Type": "Charter"}]

In [30]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandes High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [31]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [34]:
# Add the list to a new DataFrame
schools_df["School_ID"] = school_id
schools_df["School_Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame
schools_df

   School_ID            School_Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandes High School  District
4          4    Griffin High School   Charter

In [44]:
# Create a dictionary of information on high schools.
high_schools_dict = {"School_ID": school_id, 
                     "School_Name": school_name,
                    "Type": type_of_school}

In [45]:
high_schools_dict_df = pd.DataFrame(high_schools_dict)

In [46]:
high_schools_dict_df

   School_ID            School_Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandes High School  District
4          4    Griffin High School   Charter

In [47]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [48]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [50]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [52]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"},
                     {"School ID": 5, "school_name":"Wilson High School", "type": "Charter"},
                    {"School ID": 6, "school_name":"Cabrera High School", "type": "Charter"},
                    {"School ID": 7, "school_name":"Bailey High School", "type": "District"},
                    {"School ID": 8, "school_name":"Holden High School", "type": "Charter"},
                    {"School ID": 9, "school_name":"Pena High School", "type": "Charter"},
                    {"School ID": 10, "school_name":"Wright High School", "type": "Charter"},
                    {"School ID": 11, "school_name":"Rodriguez High School", "type": "District"},
                    {"School ID": 12, "school_name":"Johnson High School", "type": "District"},
                    {"School ID": 13, "school_name":"Ford High School", "type": "District"},
                    {"School ID": 14, "school_name":"Thomas High School", "type": "Charter"}
                    ]

In [54]:
high_school_dicts_df = pd.DataFrame(high_school_dicts)
high_school_dicts_df

    School ID            school_name      type
0           0   Huang High    School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter